name: first workflow

run-name: Deploying solution from dev to test environment

on:
  workflow_dispatch:

jobs:
  first-job:
    runs-on: ubuntu-latest

    steps:

    - name: Check out repository
      uses: actions/checkout@v4
      
    - name: Install Power Platform Tools
      uses: microsoft/powerplatform-actions/actions-install@v1

    - name: Create output directory
      run: mkdir -p out
      

    - name: Export Solution
      uses: microsoft/powerplatform-actions/export-solution@v1
      with:
        environment-url: 'https://org23b23f97.crm.dynamics.com'
        tenant-id: ${{ secrets.PP_TENANT_ID }}
        app-id: ${{ secrets.PP_CLIENT_ID }}
        client-secret: ${{ secrets.PP_CLIENT_SECRET }}
        solution-name: solutionone
        solution-output-file: 'solutionone.zip'
        working-directory: 'out'

    - name: Unpack Solution
      uses: microsoft/powerplatform-actions/unpack-solution@v1
      with:
        solution-file: 'out/solutionone.zip'
        solution-folder: 'out/solutions/solutionone'
        solution-type: 'Unmanaged'
        overwrite-files: true

    - name: import Solution
      uses: microsoft/powerplatform-actions/import-solution@v1
      with:
        environment-url: 'https://orgd93932c9.crm.dynamics.com'
        tenant-id: ${{ secrets.PP_TENANT_ID }}
        app-id: ${{ secrets.PP_CLIENT_ID }}
        client-secret: ${{ secrets.PP_CLIENT_SECRET }}
        solution-file: 'out/solutionone.zip'
        #run-asynchronously: true
        #force-overwrite: true
        #publish-changes: true

#    - name: Prepare solution changes for check-in into source control
#      uses: microsoft/powerplatform-actions/branch-solution@v1
#      with:
#        solution-folder: 'out/solutions/solutionone'
#        solution-target-folder: 'src/solutions/solutione'
#        repo-token: ${{ secrets.GIT_TOKEN }}
#        allow-empty-commit: true

