name: first workflow

run-name: Deploying solution from dev to test environment

on:
  workflow_dispatch:

jobs:
  first-job:
    runs-on: ubuntu-latest

    steps:
    - name: Install Power Platform Tools
      uses: microsoft/powerplatform-actions/actions-install@v1

    - name: Create output directory
      run: mkdir -p out

    - name: Export Solution
      uses: microsoft/powerplatform-actions/export-solution@v1
      with:
        environment-url: 'https://org23b23f97.crm.dynamics.com'
        user-name: 'sm@M365x83721890.onmicrosoft.com'
        password-secret: ${{ secrets.MYPASSWORD }}
        solution-name: solutionone
        solution-output-file: 'solutionone.zip'
        working-directory: 'out'
