name: test workflow

run-name: Deploying solution from dev to test environment

on:
  workflow_dispatch:

jobs:
  first-job:
    runs-on: windows-latest

    steps:
    
    - name: Install Power Platform Tools
      uses: microsoft/powerplatform-actions/actions-install@v1.9.1

    - name: Checkout code
      uses: actions/checkout@v5
      with:
        lfs: true


    - name: Create output directory
      run: mkdir -p out
      

    - name: Export Solution
      uses: microsoft/powerplatform-actions/export-solution@v1
      with:
        environment-url: 'https://org23b23f97.crm.dynamics.com'
        tenant-id: ${{ secrets.PP_TENANT_ID }}
        app-id: ${{ secrets.PP_CLIENT_ID }}
        client-secret: ${{ secrets.PP_CLIENT_SECRET }}
        solution-name: solutionone
        solution-output-file: 'solutionone.zip'
        working-directory: 'out'
        
    - name: Show PAC install directory contents
      run: |
        echo "PAC path: $POWERPLATFORMTOOLS_PACPATH"
        ls -R "$POWERPLATFORMTOOLS_PACPATH"  
        
    - name: Search entire /tmp for pac
      run: find /tmp -name pac -type f -perm -u+x    

    - name: Where is pac?
      run: which pac || echo "pac not found"
      
    - name: Add Power Platform CLI to PATH
      run: echo "/tmp/powerplatform-actions-ZVUi5H/pac" >> $GITHUB_PATH
      
    - name: Generate deployment settings
      run: |
        pac solution create-settings \
          --solution-zip out/solutionone.zip \
          out/solutionone_deploymentsettings.json
          
    - name: List connections in Target
      run: |
        pac connection list \
          --environment ${{ secrets.PP_TEST_ENV_ID }} \
          --json > out/connections.json

          
   # - name: import Solution
    #  uses: microsoft/powerplatform-actions/import-solution@v1
     # with:
      #  environment-url: 'https://orgd93932c9.crm.dynamics.com'
       # tenant-id: ${{ secrets.PP_TENANT_ID }}
        #app-id: ${{ secrets.PP_CLIENT_ID }}
        #client-secret: ${{ secrets.PP_CLIENT_SECRET }}
        #solution-file: 'out/solutionone.zip'
        #run-asynchronously: true
        #force-overwrite: true
        #publish-changes: true
